

<div class="row" >
  <div class="col-md-12">
    <div class="col-sm-6 col-md-4" *ngFor="let product of products">
      <div class="thumbnail">
        <img style="height: 250px" src={{product.img}} alt="...">
        <div class="caption">
          <h2>{{product.Name}}</h2>
          <h3>{{product.Description}}</h3>
          <h3>OS: {{product.OS}}</h3>
          <h3><strong>${{product.Price}}</strong></h3>

          <p><a routerLink="cart"  class="btn btn-primary" role="button" (click)="getCart(product, product._id, product.cartQuantity)">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
