<div class="jumbotron">
  <h1>Welcome to iDroidStore</h1>
  <p><a class="btn btn-primary" routerLink="product" role="button">Check out Awesome Products</a></p>
</div>

<div class="row">

  <div class="col-md-8">

    <p class="lead">Android is a mobile operating system developed by Google, based on the Linux kernel and designed primarily for touchscreen mobile devices such as smartphones and tablets. Android's user interface is mainly based on direct manipulation, using touch gestures that loosely correspond to real-world actions, such as swiping, tapping and pinching, to manipulate on-screen objects, along with a virtual keyboard for text input. In addition to touchscreen devices, Google has further developed Android TV for televisions, Android Auto for cars, and Android Wear for wrist watches, each with a specialized user interface.</p>

  </div>

  <div class="col-md-4">

    <img class="img-responsive" src="../../assets/android.jpeg">


  </div>


</div>
<!--<p><a   class="btn btn-primary" role="button" (click)="getCart('596bca85734d1d0ff25fd246', 0)">Add to Cart</a> </p>-->